# Ignore Python local cache across repo
**/__pycache__/

# Ignore BuildStream local state
.bst
.bst2

# Never commit project.refs
project.refs

# Produced by the gnomeos build scripts
ostree-gpg/
ostree-repo/

**/*.DS_STORE
logs/
*.img

# Ignore the default checkout directory
checkout/

files/boot-keys/*.key
files/boot-keys/*.crt
files/boot-keys/*.pem
files/boot-keys/modules/*.crt
files/boot-keys/extra-db/*.crt
files/boot-keys/extra-db/*.owner
files/boot-keys/extra-db-mic/*.crt
files/boot-keys/extra-db-mic/*.owner
files/boot-keys/extra-db-mic/*.cer
files/boot-keys/extra-kek/*.crt
files/boot-keys/extra-kek/*.owner
files/boot-keys/extra-kek-mic/*.crt
files/boot-keys/extra-kek-mic/*.owner
files/boot-keys/extra-kek-mic/*.cer
files/boot-keys/import-pubring.gpg
files/boot-keys/import-pubring.pgp
files/boot-keys/private-key/
files/boot-keys/VENDOR.der
current-secure-vm/
secure-vm-repo/
