# Ignore Python local cache across repo
**/__pycache__/

# Ignore BuildStream local state
.bst

# Never commit project.refs
project.refs

# Produced by the gnomeos build scripts
ostree-gpg/
ostree-repo/

**/*.DS_STORE
logs/
*.img

# Ignore the default checkout directory
checkout/