[Unit]
Description=Add flathub
ConditionFirstBoot=yes
Wants=network-online.target
After=network-online.target systemd-resolved.service nss-lookup.target

[Service]
Type=oneshot
ExecStart=flatpak remote-add flathub https://flathub.org/repo/flathub.flatpakrepo

[Install]
WantedBy=multi-user.target
