[Unit]
Description=Set Bluetooth controller %i address
DefaultDependencies=no
ConditionFirmware|=device-tree-compatible(oneplus,enchilada)
ConditionFirmware|=device-tree-compatible(fairphone,fp5)

[Service]
Type=oneshot
ExecStart=/usr/libexec/bt-set-addr %i
