[Unit]
Description=Create initial /etc

ConditionPathExists=/etc/initrd-release

RequiresMountsFor=/sysroot/usr
After=initrd-root-fs.target
After=initrd-migrate-confext.service
Before=initrd-confext.service

[Service]
Type=oneshot
ExecStart=systemd-tmpfiles --root=/sysroot --create --boot mutable-etc.conf
SuccessExitStatus=DATAERR CANTCREAT
