[Unit]
Description=Create initial /etc

ConditionPathExists=/etc/initrd-release

DefaultDependencies=no
Conflicts=shutdown.target

After=sysroot.mount sysroot-usr.mount systemd-volatile-root.service
Before=initrd-root-fs.target shutdown.target
Before=systemd-confext-sysroot.service
After=initrd-migrate-confext.service

[Service]
Type=oneshot
ExecStart=systemd-tmpfiles --root=/sysroot --create --boot mutable-etc.conf
SuccessExitStatus=DATAERR CANTCREAT
