polkit.addRule(function(action, subject) {
        if (subject.local &&
            subject.active &&
            subject.isInGroup ("wheel") &&
            subject.user === "guest") {
            return polkit.Result.YES;
        }
});
