SUBSYSTEM!="block", GOTO="gnomeos_iso_end"

KERNEL!="sr*", ENV{ID_FS_PUBLISHER_ID}=="GNOME", ENV{ID_FS_LABEL}=="GNOME-OS-*", SYMLINK+="gnomeos-installer/gpt", ENV{GNOMEOS_INSTALLER}="1"

ENV{DEVTYPE}!="partition", GOTO="gnomeos_iso_end"

IMPORT{parent}="GNOMEOS_INSTALLER"
ENV{GNOMEOS_INSTALLER}=="1", ENV{ID_PART_ENTRY_TYPE}=="c12a7328-f81f-11d2-ba4b-00a0c93ec93b", SYMLINK+="gnomeos-installer/esp"

LABEL="gnomeos_iso_end"
