[Unit]
Description=Add eosimages image as device
Requires=run-mount-installercd.mount
Before=run-mount-eosimages.mount

[Service]
Type=oneshot
ExecStart=/usr/bin/udisksctl loop-setup -rf /run/mount/installercd/eosimages.gpt.img
RemainAfterExit=yes
ExecStop=bash -c '/usr/bin/udisksctl loop-delete -b $(losetup -j /run/mount/installercd/eosimages.gpt.img -O name -n)'

[Install]
RequiredBy=run-mount-eosimages.mount
