[Unit]
Description=Mount installer CD

[Mount]
What=LABEL=GNOME-OS-INSTALLER
Where=/run/mount/installercd
Type=iso9660
Options=ro,nodev,nosuid,noexec,nofail,allow_other

