[Unit]
Description=Enable encryption
AssertPathExists=/etc/initrd-release
ConditionSecurity=tpm2
ConditionKernelCommandLine=!root=live:gnomeos
DefaultDependencies=no
Conflicts=shutdown.target
After=initrd-usr-fs.target
Before=systemd-repart.service
Before=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/cp -rT /sysusr/usr/lib/repart.d /run/repart.d
ExecStart=/usr/bin/gen-recovery-key /run/recovery-password

[Install]
WantedBy=initrd.target
