# All / and /usr verity
SUBSYSTEM=="block", ACTION=="add|change|move|bind", ENV{ID_DISSECT_PART_DESIGNATOR}=="usr-verity", ENV{ID_FS_TYPE}=="DM_verity_hash", ENV{UDISKS_IGNORE}="1"
# All / and /usr squashfs
SUBSYSTEM=="block", ACTION=="add|change|move|bind", ENV{ID_DISSECT_PART_DESIGNATOR}=="usr", ENV{UDISKS_IGNORE}="1"

# All dm-verity devices
SUBSYSTEM=="block", ACTION=="add|change|move|bind", ENV{DM_UUID}=="CRYPT-VERITY-*", ENV{UDISKS_IGNORE}="1"
