[Unit]
ConditionKernelCommandLine=root=live:gnomeos

[Service]
Type=dbus
BusName=org.gnome.Installer1
ExecStart=/usr/lib/gnomeos-installer/installer-daemon
StandardOutput=journal

[Install]
WantedBy=graphical.target
