[Desktop Entry]
Name=GNOME OS proto-installer
Comment=Installs GNOME OS onto a disk
Exec=/usr/lib/gnomeos-installer/installer.py --send-notification
Terminal=false
Type=Application
StartupNotify=true
OnlyShowIn=GNOME;
Categories=System;GNOME;GTK;
X-GNOME-UsesNotifications=true
NoDisplay=true
